* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(0, 122, 87, 0.821);
    --secondary-color: rgba(106, 205, 177, 0.821);
}

body {
    background-color: var(--primary-color);
    overflow: hidden;
}

.container {
    color: #fff;
}

nav {
    margin: 8px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.user-info {
    font-size: 18px;
}

.user-info button {
    margin: 2px 2px;
    width: 32px;
    border-radius: 10px;
    padding: 4px;
    background-color: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: 0.6s;
}

.user-info button:hover {
    background-color: var(--secondary-color);
    color: #fff;
    transition: 0.6s;
}

.user-info button img {
    width: 14px;
}

#menu-list {
    float: left;
    display: none;
    list-style: none;
    background-color: #fff;
    height: 100%;
}

#menu-list li {
    border-bottom: 1px solid gray;
    padding: 15px 10px;
}

#menu-list li a {
    color: #000;
}

#menu-btn {
    cursor: pointer;
    border: none;
}

.user-panel {
    list-style: none;
    display: none;
    background-color: #fff;
    color: #000;
}

.user-panel li {
    border-bottom: 1px solid grey;
    padding: 2px;
}

.user-panel li a {
    color: #000;
}

.menu .menu-box {
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    width: 42px;
    display: inline-block;
    margin: 6px 10px;
}

.menu .menu-box:hover {
    background-color: var(--primary-color);
}

.menu .menu-box .line {
    height: 3px;
    width: 26px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 7px;
    text-align: center;
}

.main {
    background: #fff;
    display: flex;
}

.dashboard {
    color: #000;
}

.dashboard .grid {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 200px auto;
    gap: 10px;
}

.dashboard .grid .box {
    width: 180px;
    height: 100px;
    border: 1px solid grey;
    background-color: rgb(212, 212, 212);
    margin: 10px;
}

.dashboard .grid .sales-panel {
    border: 1px solid gray;
    width: 100%;
    position: absolute;
    left: 800px;
}