* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(0, 122, 87, 0.821);
    --secondary-color: rgba(106, 205, 177, 0.821);
}

body {
    background: url("../images/login-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    width: 600px;
    height: 100vh;
    background-color: #fff;
}

.login img {
    width: 80px;
    position: relative;
    top: 20px;
    left: 270px;
}

.login form {
    width: 220px;
    margin: auto;
}

.login h2 {
    text-align: center;
    padding: 28px;
    color: var(--primary-color);
}

#login-btn, #register-btn, #change-btn {
    width: 220px;
    padding: 2px;
    margin: 8px 0;
    cursor: pointer;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 6px;
    border-radius: 10px;
    border: none;
    transition: 0.7s;
}

#login-btn:hover, #register-btn:hover, #change-btn:hover {
    background-color: var(--primary-color);
    transition: 0.7s;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 220px;
    padding: 6px;
    border-radius: 6px;
    margin: 10px 0px;
    border: 1px solid rgb(214, 214, 214); 
}

span a {
    text-decoration: none;
    color: var(--primary-color);
}

input[type=button] {
    cursor: pointer;
}

#yes {
    background-color: var(--secondary-color);
    color: #fff;
}

#yes:hover {
    background-color: var(--primary-color);
    transition: 0.4s;
}

#no {
    background-color: rgb(248, 128, 107);
    color: #fff;
}

#no:hover {
    background-color: tomato;
    color: #fff;
}