* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(0, 122, 87, 0.821);
    --secondary-color: rgba(106, 205, 177, 0.821);
}

body {
    background: url("../images/login-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.login form {
    width: 220px;
    margin: auto;
}

.login h2 {
    text-align: center;
    padding: 4px 0 30px 0;
    color: var(--primary-color);
}

#login-btn, #register-btn, #change-btn, #pay-btn {
    width: 220px;
    font-size: 18px;
    font-weight: 700;
    padding: 2px;
    margin: 8px 0;
    cursor: pointer;
    color: #ffffff;
    background-color: var(--secondary-color);
    padding: 6px;
    border-radius: 10px;
    border: none;
    transition: 0.7s;
}

#login-btn:hover, #register-btn:hover, #change-btn:hover, #pay-btn:hover {
    background-color: var(--primary-color);
    transition: 0.7s;
}

#home-btn, #cancel-btn {
    width: 220px;
    font-size: 18px;
    font-weight: 700;
    padding: 2px;
    margin: 8px 0;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(248, 128, 107);;
    padding: 6px;
    border-radius: 10px;
    border: none;
    transition: 0.7s;
}

#home-btn:hover, #cancel-btn:hover {
    background-color: tomato;
    transition: 0.7s;
}

.wrapper {
    width: 100%;
}

.wrapper img {
    display: block;
    margin: auto;
    width: 120px;
}

input, select {
    width: 240px;
    padding: 6px;
    border-radius: 6px;
    margin: 5px 0px;
    border: 1px solid rgb(214, 214, 214); 
}

span a {
    text-decoration: none;
    color: var(--primary-color);
    font-style: italic;
}

input[type=button] {
    cursor: pointer;
}

#yes {
    background-color: var(--secondary-color);
    color: #fff;
}

#yes:hover {
    background-color: var(--primary-color);
    transition: 0.4s;
}

#no {
    background-color: rgb(248, 128, 107);
    color: #fff;
}

#no:hover {
    background-color: tomato;
    color: #fff;
}

h4 {
    text-align: center;
    font-size: 16px;
    padding-top: 8px;
}