* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(0, 122, 87, 0.821);
    --secondary-color: rgba(106, 205, 177, 0.821);
}

body {
    overflow: scroll;
}

.container {
    color: #fff;
}

nav {
    background-color: var(--primary-color);
    padding: 8px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.user-info {
    font-size: 18px;
}

.user-info button {
    margin: 2px 2px;
    width: 32px;
    border-radius: 10px;
    padding: 4px;
    background-color: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: 0.6s;
}

.user-info button:hover {
    background-color: var(--secondary-color);
    color: #fff;
    transition: 0.6s;
}

.user-info button img {
    width: 14px;
}

#menu-list {
    float: left;
    list-style: none;
    background-color: var(--primary-color);
    height: 100%;
    width: 10em;
}

#menu-list li {
    padding: 15px 10px;
}

#menu-btn {
    cursor: pointer;
    border: none;
}

.user-panel {
    list-style: none;
    display: none;
    background-color: #fff;
    color: #000;
}

.user-panel li {
    border-bottom: 1px solid grey;
    padding: 2px;
}

.user-panel li a {
    color: #000;
}

.main {
    background: #fff;
    display: flex;
    height: 100vh;
    overflow: scroll;
}

.dashboard {
    color: #000;
    width: 100%;
}

.dashboard h2 {
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid black;
    background-color: rgb(228, 227, 227);
}

.dashboard .grid {
    display: flex;
    width: 100%;
}

.linear-box {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(45, 45, 45);
}

.box {
    width: 180px;
    height: 100px;
    background-color: rgb(237, 237, 237);
    margin: 30px 60px;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs .tab-boxes {
    width: 180px;
    height: 100px;
    margin: 30px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 800;
}

.tab-boxes img {
    width: 40px;
}

.sales-chart {
    position: relative;
    right: -100px;
}

.sales-chart h3 {
    text-align: center;
}

.chart-container {
    padding: 20px 40px;
}

.content-wrapper { 
    width: 100%;
    color: #000;
}

.entries {
    width: 100%;
}

.entries form {
    margin: 10px 5px;
}

.entries form label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-fields {
    display: grid;
    grid-template-columns: auto auto auto;
}

.entries form input[type=text],input[type=submit], input[type=date],input[type=number] {
    margin: 0 14px 4px 4px;
    width:170px;
}

.entries form select {
    width: 174px;
}

.alter {
    position: relative;
    left: 14px;
}

.radio {
    width: 10px;
    margin: 0;
}

input[type=submit], .btn {
    background-color: var(--primary-color);
    color:#fff;
    padding: 6px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

input[type=submit]:hover, .btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
    transition: 0.5s;
}

.btn {
    margin: 10px 0;
    width: 150px;
    padding: 10px;
}

#enter {
    padding: 5px;
    margin: 0;
}

.entries h2 {
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid black;
    background-color: rgb(228, 227, 227);
}

.records {
    width: 100%;
    color: #000;
    overflow: scroll;
}

.records h2 {
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid black;
    background-color: rgb(228, 227, 227);
}

.table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

.table tr {
    width: 100%;
}

.table th {
    padding: 12px 0;
    text-align: left;
    background-color: var(--primary-color);
    color: white;
}

.table td, .table th {
    padding: 8px;
    border: 1px solid #ddd;
}

.action-btn {
    margin: 0 5px;
}

.invoice-container {
    border: 1px solid black;
    text-align: center;
}

.medicine-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill-table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

.bill-table td, th {
    border: 1px solid black;
}

.customer-name {
    float: left;
}

.date {
    float: right;
}

.medicine-entries {
    display: inline-block;
}

.search {
    float: right;
}

.entries form input[type=text], select, input[type=date], input[type=number] {
    border: 1px solid gray;
    padding: 4px;
}

.records form input[type=search] {
    border: 1px solid gray;
    padding: 4px;
}