* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(0, 122, 87, 0.821);
    --secondary-color: rgba(106, 205, 177, 0.821);
}

body {
    overflow: hidden;
}

.container {
    color: #fff;
}

nav {
    background-color: var(--primary-color);
    padding: 8px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.user-info {
    font-size: 18px;
}

.user-info button {
    margin: 2px 2px;
    width: 32px;
    border-radius: 10px;
    padding: 4px;
    background-color: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: 0.6s;
}

.user-info button:hover {
    background-color: var(--secondary-color);
    color: #fff;
    transition: 0.6s;
}

.user-info button img {
    width: 14px;
}

#menu-list {
    float: left;
    list-style: none;
    background-color: var(--primary-color);
    height: 100vh;
    width: 10em;
}

#menu-list li {
    padding: 15px 10px;
}

#menu-btn {
    cursor: pointer;
    border: none;
}

.user-panel {
    list-style: none;
    display: none;
    background-color: #fff;
    color: #000;
}

.user-panel li {
    border-bottom: 1px solid grey;
    padding: 2px;
}

.user-panel li a {
    color: #000;
}

.main {
    background: #fff;
    display: flex;
}

.dashboard {
    color: #000;
    width: 100%;
}

.dashboard h2 {
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid black;
    background-color: rgb(228, 227, 227);
}

.dashboard .grid {
    display: grid;
    grid-template-columns: auto auto;
}

.linear-box {
    display: flex;
}

.dashboard .grid .box {
    width: 180px;
    height: 100px;
    border: 1px solid grey;
    background-color: rgb(212, 212, 212);
    margin: 10px;
    text-align: center;
}

.sales-panel {
    border: 1px solid black;
}

.content-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 100%;
    color: #000;
}

.entries {
    width: 100%;
    margin: 20px 0;
}

.entries form input {
    margin: 0 10px;
}

.entries h2 {
    border-bottom: 1px solid black;
}

.records {
    width: 100%;
    position: relative;
    bottom: 100px;
}

.table {
    margin: 12px 0;
    width: 100%;
    border-collapse: collapse;
}

.table th {
    padding: 12px 0;
    text-align: left;
    background-color: var(--primary-color);
    color: white;
}

.table td, .table th {
    padding: 8px;
    border: 1px solid #ddd;
}

.action-btn {
    margin: 0 5px;
}
